@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h3> Tipo de Cambio - Banco Central de Nicaragua </h3>
    <p class="lead">
        The following operations are supported. For a formal definition, please review the Service Description.
    </p>

</div>

<div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">

        <div class="owl-wrapper-outer">
        </div>

    </div>
    <div class="col-lg-2">
    </div>
</div>

 
 