@{
    ViewBag.Title = "Home";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1> Sitio web API uso de Servicios para ver tazas de cambio usando el servicio del banco Central de Nicaragua. </h1>