@{
    ViewBag.Title = "Tasa Cambio Mensual";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h4>Filtre la Tasa de cambio por mes </h4>

<style>
        .ui-datepicker-calendar {
        display: none;
    }
</style>

<div class="well">
    <div class="row">
        <section class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="">
                <div class="row">
                    <section class='col col-xs-6 col-sm-6 col-md-6 col-lg-8'>
                        <label class="lbl-datepicker-month" style="width:90%;">
                        <input type='text' class="form-control datetimepicker" id='datepickermonth' readonly />
                        </label>
                        <em class="em-msg-month" style="display:none; color:darkred;"> Es requerido ingresar la el mes a filtrar  </em>
                    </section>
                    <section class='col col-xs-6 col-sm-6 col-md-6 col-lg-2'>
                        <a class="btn btn-default btnfilterbymonth pull-left"> Buscar Por mes &raquo;</a>

                    </section>

                </div>
            </div>
        </section>
    </div>
    

</div>

<div class="content-data-exchangerate">
    
</div>

<script>
    /**
     *
     * *****/
    $(function () 
        {

        
        $('#datepickermonth').datepicker({
            format: "MM, yyyy",
            startView: "months",
            minViewMode: "months",
            autoclose: true, locale: 'es', language: 'es'
        });

    });
</script>
 